---
---

@import "{{ site.theme }}";
.highlighter-rouge .highlight{
  background:#f6f8fa;
}
code{
  background-color:#f6f8fa;
}
h2, h3{
font-family: Andale Mono;
font-weight: bolder;
}
h2{
  font-size: xx-large;
}
h3{
  font-size:larger;
}
site.header{
  border-bottom: 2px solid #383d57;
  background: #e3e3e3;
}
.site-title, .site-title:visited {
  color: #383d57;
  text-transform: uppercase;
  font-size: 34px;
}
.page-heading, .page-link {
  display: none;
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
  font-size: xx-large;
}
#markdown-toc ul {
  list-style: none;
}
#markdown-toc {
  border: 2px solid #aaa;
  border-radius:10pt;
  background: #f6f8fa;
  padding: 1.5em;
  list-style: none;
  display: inline-block;
  font-size:larger;
  font-family: monospace;
}
nav.toc-fixed {
  position:fixed;
  left:5%;
}