---
---

@import "{{ site.theme }}";
.highlighter-rouge .highlight{
  background:#f6f8fa;
}
code{
  background-color:#f6f8fa;
}
h1, h2, h3{
/*font-family: Andale Mono;*/
font-weight: bolder;
}
h2{
  font-size: xx-large;
}
h3{
  font-size:larger;
}
.site-header{
  border-top: 3px solid #424242;
  border-bottom: 2px solid #e8e8e8;
}
.site-title, .site-title:visited {
  color: #383d57;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
  display: flex;
}

.site-title::before, .site-title::after{
  content: '';
  margin: auto 1em;
  border-bottom: solid 1px;
  flex: 1;
}

.page-heading, .page-link {
  display: none;
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
  font-size: 22pt;
  color: white
}

div.wrapper {max-width:65%;margin-right:10%;}
div.post-content > p {width:65%;max-width:640;}
nav.toc-fixed {
  position:fixed;
  top:0;
  left:0;
  width:250px;
  min-height: 100%;
  background: black;
}
nav.toc-fixed ul {list-style:none;
  padding-right:0;
  margin-right:0;
  font-size: 12pt;
}
#markdown-toc {
  padding-top: 30px;
}

.toc-fixed a{
  color: white;  
}

.toc-fixed li{
  padding-top: 2pt;  
}
.general-img{
  max-width: 75%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.caption{
  font-style: italic;
}
table{
  box-shadow:0 0 20px rgba(0,0,0,0.15);
  font-size: 11pt
}
.primer{
  font-family: monospace;
  font-size: 16pt;
}